.mainmenu {
    background-color: #EEEEFF;
}

.viesti {
    border: 3px solid #000000;
    background-color: #EFEFEF;
}

.kehys {
    padding: 20px;
    background-color: #FFFFFF;
}

.kommentti {
    padding: 20px;
    background-color: #FEFEFE;
}
