<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Dwidder</title>
    </head>
    <body>

        <h1>Web palvelinohjelmointi, syksy 2019 - projekti</h1>
        <p>
            Tervetuloa palveluun. Aloita kirjautumalla tunnuksellasi. Mikäli sinulla ei ole tunnusta, voi uuden tilin luoda <a href="/accounts">tästä</a>.
        </p>
        <p>Kirjaudu sisään: <a href="/login">Kirjaudu</a></p>
        
        
    </body>
</html>
